.root {
    border: 1px solid var(--theme-menu-border);
    overflow: hidden;
    border-radius: inherit;
}

.title {
    &-container {
        padding: 1.6rem 2rem;
        display: flex;
        gap: 1.2rem;
        align-items: center;
    }

    &-text {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
    }
}

.content {
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    list-style: none;
    padding-left: 0;
    background-color: var(--theme-menu-bg);
    margin: 0;
}

.variant {
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 0.2rem;
    cursor: pointer;

    &:hover {
        background: var(--theme-menu-item-hover);
    }

    &-radio {
        $size: 1.8rem;
        width: $size;
        height: $size;
        padding: 0.3rem;
    }

    &-text {
        margin: 0;
        color: var(--theme-menu-item-text);
        font-size: 1.4rem;
        font-weight: 400;
    }
}