.container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.ellipsis {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: flex-end;
  padding: 1.5rem;
  padding-bottom: 0.25rem;
}

.page {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  border: 0.5px solid black;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 1.5rem;

  &--active {
    background-color: var(--blue);
    color: white;
    border-color: var(--blue);
  }

  &--disabled {
    border-color: var(--mediumGray);
    color: var(--mediumGray);
    cursor: unset;
  }
}
