$icon-container: 25px;
$icon-size: 16px;

.header {
  padding: 0.5rem;
  position: relative;

  .actions {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: var(--lightGray);

    & .actions {
      display: block;
    }
  }
}

.icon {
  width: $icon-container;
  height: $icon-container;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  position: relative;

  & svg {
    width: $icon-size;
    height: $icon-size;
  }
  &:hover {
    background-color: var(--mediumGray);
    cursor: pointer;
  }
}

.remove {
  transform: rotate(45deg);
}
