.title {
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.content {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;

  &:hover {
    cursor: pointer;
  }
}

.text-content {
  margin-right: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .stats {
    font-size: 0.8rem;
  }
}
