.search {
  display: flex;
  align-items: center;
  border-radius: 100rem;
  border: 1px solid;
  padding: 0.1rem 0.5rem;

  & input {
    flex: 1 1 auto;
    border: none;
    font-size: 0.9rem;
    background-color: transparent;
    color: inherit;

    &:focus {
      outline: none;
    }
  }
}

.icon {
  margin-right: 0.2rem;
  & svg {
    height: 1.2rem;
    position: relative;
    bottom: -0.2rem;
  }
}
