$background: var(--gray, #f5f5f5);

.root {
  border-radius: 8px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: $background;
  width: 723px;

  &.focused {
    border-color: var(--blue);
    outline: 1px solid var(--light-blue);
  }
}

.divider {
  height: 16px;
}

.input {
  padding: 0.5rem 0;
  flex: 1 1 auto;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}
