@import 'styles/mixins';

.header {
  height: 6.4rem;
  display: flex;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--header-border, #e8e9e9);
  justify-content: space-between;
  gap: 60px;
}

@include screenMax992 {
  .write-article-btn {
    display: none;
  }
}

.left-container {
  width: var(--navigation-container-width);
}

.logo svg {
  width: 8rem;
  height: 3rem;
}

.main-container {
  width: var(--main-container-width);
}

.right-container {
  display: flex;
  justify-content: space-between;
  width: var(--sidebar-container-width);
}