@import 'styles/mixins';

.header {
  height: 6.4rem;
  display: flex;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--divider-secondary-background, #e8e9e9);
  justify-content: space-between;
}

@include screenMax992 {
  .write-article-btn {
    display: none;
  }
}

.left-container {
  flex: 1 1 var(--navigation-container-width);
}

.logo svg {
  width: 8rem;
  height: 3rem;
}

.main-container {
  margin-right: 4rem;
  margin-left: 4rem;
  flex: 1 0 var(--main-container-width);
}

.right-container {
  display: flex;
  justify-content: space-between;
  flex: 1 1 var(--sidebar-container-width);
}