.sidebar {
    border-left: 1px solid var(--lightBlack);
    $width: 25rem;
    width: $width;
    min-width: $width;
    position: relative;
    padding: 1rem 1.8rem;
    max-height: 100vh;
    overflow: auto;

    &--hidden {
        width: 0;
        max-width: 0;
        max-height: 0;
        height: 0;
        overflow: hidden;
        transform: scale(0);
    }
}