.popover {
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: translateY(100%);
    border: 1px solid #e8e8eb;
    padding: 6px;
    display: none;
    border-radius: 4px;
    background-color: white;
    min-width: 200px;
}

.open {
    display: block;
}

.btn {
    border: none;
    background-color: transparent;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;

    &:hover {
        background-color: #f1f4f8;
        cursor: pointer;

        .icon {
            box-shadow: unset;
        }
    }

}

.icon {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(201, 201, 204, .48);
    display: grid;
    place-items: center;
}