.root {
    min-height: 64px;
    border-bottom: 1px solid var(--header-border, #E8E9E9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}