.input {
    border-radius: var(--smallBorderRadius);
    border: 1px solid var(--lightBlack);
    outline: transparent solid 1px;
    padding: .4em;
    width: 400px;
}

.input:focus {
    outline: rgba(90, 130, 235, 0.7) solid 1px;
}