@import 'styles/_mixins';

.media-icon {
     width: 30px;
     height: 30px;
     margin-right: 1rem;
     display: flex;
     align-items: center;
}

.form {
     @include screenMax576 {
          flex-direction: column;
     }
}