@import 'styles/_mixins';

.comments {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  // -1px is needed for showing sidebar border
  width: calc(var(--sidebar-width) - 1px);
  min-width: calc(var(--sidebar-width) - 1px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease-in-out;

  @include screenMax576 {
    bottom: -100%;
    right: 0;
    left: 0;
    top: unset;
    height: 70vh;
    width: unset;
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--gray);
  }

  &--open {
    right: 0;

    @include screenMax576 {
      bottom: 0;
    }
    @include screenMin1600 {
      right: calc((100vw - 1600px) / 2);
    }
  }

  & .comments-list {
    padding: 1rem;
    overflow-y: scroll;
    flex: 1;

    @include screenMax576 {
      margin-top: 1rem;
      padding-top: 0;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(204, 204, 204);
      border-radius: 1rem;
    }
  }

  & .form {
    border-top: 0.5px solid black;
    padding: 1rem;
  }
}

.selected-comment {
  padding: 1rem;
  border-top: 0.5px solid black;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  .text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    word-break: break-all;
  }

  .icon {
    cursor: pointer;
  }
}

.close-icon {
  font-size: 18px;
  padding: 10px;
}

.commentsInputFocused {
  padding-top: 1rem;

  & .form {
    order: 1;
    border-bottom: 0.5px solid black;
    border-top: none;
  }

  & .comments-list {
    order: 2;
    margin-top: 0;
  }

  & .selected-comment {
    border-bottom: 0.5px solid black;
    border-top: none;
  }
}
