.container {
    margin: -1rem -1.3rem;
}

.link {
    padding: 1rem;
    display: block;

    &:hover {
        background-color: var(--lightGray);
        cursor: pointer;
    }
}

.dropdown {
    padding-left: 1rem;
}
