.root {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid var(--black-50, #E8E9E9);
    background: var(--white, #FFF);
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.body {
    flex: 1;
}