.spinner {
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  margin: 0 auto;
  animation: rotation 1s linear infinite;

  &--dark {
    border: 2px solid white;
  }
  &--outline-dark {
    border: 2px solid black;
  }
  &--light {
    border: 2px solid black;
  }
  &--outline-red {
    border: 2px solid var(--red);
  }

  border-top-color: transparent!important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
