@import 'styles/breakpoints';
@import 'styles/mixins';

.root {
  display: flex;
  width: var(--grid-container-width);
  margin: 0 auto;
  padding-top: 34px;
  gap: 60px;

  @include media-max(small) {
    display: block;
  }
}

.navigation {
  @include media-min(large) {
    position: sticky;
    min-width: var(--navigation-container-width);
    align-self: flex-start;
  }
}

.main {
  min-width: var(--main-container-width);

  @include media-max(large) {
    margin-inline: 0;
  }

  @include media-max(small) {
    min-width: unset;
    flex: 1;
  }
}

.sidebar {
  min-width: var(--sidebar-container-width);
  align-self: flex-start;
  position: sticky;

  @include media-max(large) {
    display: none;
  }
}

.normal-column {
  min-width: calc((var(--navigation-container-width) + var(--sidebar-container-width)) / 2);
}