@import 'styles/mixins';

.root {
  display: flex;
  min-height: 100vh;
  padding-top: 48px;

  @include screenMax960 {
    justify-content: center;
  }
}

.navigation {
  width: 222px;
  min-width: 222px;
  border-right: 1px solid var(--divider-secondary-background);
  padding-right: 15px;
  position: sticky;
  top: 20px;
  align-self: flex-start;

  @include screenMax960 {
    display: none;
  }
}

.main {
  width: 720px;
  max-width: 720px;
  margin-right: 40px;
  margin-left: 40px;
  flex: 1;
}

.sidebar {
  width: 294px;
  min-width: 294px;
  padding-left: 20px;
  align-self: flex-start;

  @include screenMax960 {
    display: none;
  }
}
