@import 'styles/breakpoints';
@import 'styles/mixins';

$sticky-top: 3rem;

.root {
  display: flex;
  min-height: 100dvh;
  padding-top: 4.8rem;

  @include media-max(medium) {
    padding-top: 3.2rem;
    justify-content: center;
  }
}

.navigation {
  @include media-min(large) {
    border-right: 1px solid var(--divider-secondary-background);
    padding-right: 1.5rem;
    position: sticky;
    top: $sticky-top;
    flex: 1 1 var(--navigation-container-width);
    align-self: flex-start;
  }
}

.main {
  margin-right: 4rem;
  margin-left: 4rem;
  flex: 1 0 var(--main-container-width);
  min-width: var(--main-container-width);

  @include media-max(large) {
    margin-inline: 0;
  }

  @include media-max(small) {
    min-width: unset;
    flex: 1;
  }
}

.sidebar {
  flex: 1 1 var(--sidebar-container-width);
  align-self: flex-start;
  position: sticky;
  top: $sticky-top;

  @include media-max(large) {
    display: none;
  }
}