.button {
    border-radius: 100em;
    border: 1px solid transparent;
    cursor: pointer;
    height: fit-content;
}

// colors
.dark {
    background-color: black;
    color: white;
}

.dark-disabled {
    background-color: var(--gray);
    color: white;
}

.outline-dark {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.white {
    background-color: white;
}

.outline-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.blue {
    background-color: var(--blue);
    color: white;
}

.outline-blue {
    background-color: white;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.outline-dark-disabled {
    border: 1px solid var(--gray);
    color: var(--gray);
    cursor: unset;
}

.outline-dark:hover {
    background-color: black;
    color: white;

    & .spinner {
        border-color: white;
    }
}

.light {
    background-color: transparent;
    border: transparent;
    color: black;
}

.outline-red {
    background-color: white;
    border: 1px solid var(--red);
    color: var(--red);
}

.outline-red-disabled {
    background-color: white;
    border: 1px solid var(--lightRed);
    color: var(--lightRed);
}

.outline-red:hover {
    background-color: var(--red);
    color: white;

    & .spinner {
        border-color: white;
    }
}

// sizes
.small {
    padding: 0.3em 0.8em;
    font-size: 0.8rem;
}

.medium {
    padding: 0.4em 1em;
    font-size: 1rem;
}