.avatar {
    position: relative;
    border-radius: 100rem;
    background-color: #D9D9D9;
    margin-right: .6rem;
}

.avatar--small {
    min-width: 32px;
    width: 32px;
    height: 32px;
}

.avatar--medium {
    --diametr: 50px;
    min-width: var(--diametr);
    width: var(--diametr);
    height: var(--diametr);
}

.avatar--large {
    min-width: 60px;
    width: 60px;
    height: 60px;
}

.avatar--extra-large {
    --diametr: 80px;
    min-width: var(--diametr);
    width: var(--diametr);
    height: var(--diametr);
}