.avatar {
  overflow: hidden;
  position: relative;
  border-radius: 100rem;
  background-color: #d9d9d9;
  border: 0.1px solid rgba(245, 245, 245, 0.1);
}

.avatar--small {
  $size: 1.9rem;
  min-width: $size;
  width: $size;
  height: $size;
}

.avatar--medium {
  $size: 2.8rem;
  min-width: $size;
  width: $size;
  height: $size;
}

.avatar--large {
  $size: 4rem;
  min-width: $size;
  width: $size;
  height: $size;
}

.avatar--extra-large {
  $size: 6rem;
  min-width: $size;
  width: $size;
  height: $size;
}
