@import 'styles/_mixins';

.avatar {
  overflow: hidden;
  position: relative;
  border-radius: 100rem;
  background-color: #d9d9d9;
  border: 0.1px solid rgba(245, 245, 245, 0.1);

  &--small {
    $size: 1.9rem;
    min-width: $size;
    width: $size;
    height: $size;
  }
  &--medium {
    $size: 2.8rem;
    min-width: $size;
    width: $size;
    height: $size;
  }
  &--large {
    $size: 4rem;
    min-width: $size;
    width: $size;
    height: $size;
  }
  &--extra-large {
    $size: 6rem;
    min-width: $size;
    width: $size;
    height: $size;
  }

  &--xxl {
    $size: 8rem;
    min-width: $size;
    width: $size;
    height: $size;
    @include screenMax576 {
      $size: 10rem;
      min-width: $size;
      width: $size;
      height: $size;
    }
  }
}
