.avatar {
    position: relative;
    border-radius: 100rem;
    background-color: red;
    margin-right: .6rem;
}

.avatar--small {
    width: 32px;
    height: 32px;
}

.avatar--medium {
    width: 52px;
    height: 52px;
}