.avatar {
    position: relative;
    border-radius: 100rem;
    background-color: red;
    margin-right: .6rem;
}

.avatar--small {
    min-width: 32px;
    height: 32px;
}

.avatar--medium {
    min-width: 60px;
    height: 60px;
}