.blog {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  cursor: pointer;
}

.name {
  color: var(--black-400, #45494a);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.avatar {
  margin-right: 8px;
}
