@import 'styles/breakpoints';

.container {
    position: relative;
    padding-left: 12px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        bottom: 0;
        width: 3px;
        background-color: var(--main-text);
    }
}

.blockquote {
    outline: none;
    margin: 8px 0;
    font-family: var(--third-family);
    font-style: italic;
    font-size: 18px;
    line-height: 156%;
    color: var(--editor-quote-content-text);

    &:empty::before {
        content: 'Iqtibosni bu yerga yozing';
        color: #8c8c8c;
    }
}

.author {
    text-align: end;
    outline: none;
    margin-top: 8px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 120%;
    color: var(--editor-quote-author-text);

    &:empty::after {
        content: 'Iqtibos aftori';
        color: #8c8c8c;
    }
}