@import 'styles/mixins';
@import 'styles/breakpoints';

.root {
  min-height: 12rem;
  width: 100%;
  margin-top: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-top: 1px solid var(--black-50);

  @include media-max(large) {
    padding-block: 20px 40px;
  }

  @include media-max(small) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.links {
  display: flex;
  gap: 4rem;
  padding: 0;

  @include screenMax576 {
    flex-wrap: wrap;
    gap: 5%;
  }

  &>li {
    list-style: none;

    &>a {
      display: flex;
      align-items: center;
    }

    @include screenMax576 {
      width: 45%;
      margin-bottom: 1rem;
    }
  }
}

.media-icons {
  display: flex;
  gap: 1.6rem;
  padding: 0;

  .media-icon-btn {
    list-style: none;
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
    background: var(--blue-500);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
    }
  }
}

.text {
  color: var(--black-400);
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.main-block {
  display: flex;
  gap: 150px;
  align-items: center;

  @include media-max(large) {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
}

.secondary-block {
  display: flex;
  gap: 110px;
  align-items: center;

  @include media-max(large) {
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;
  }

  @include media-max(small) {
    align-items: flex-start;
  }
}