.social-media {
    display: flex;

    &-link {
        margin: 1rem;
        height: 30px;
            width: 30px;
        & svg {
            height: 30px;
            width: 30px;
        }
    }
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}
