.text {
    height: 0.7rem;
    border-radius: 10rem;
}

.img {
    min-width: 5.5rem;
    max-width: 20%;
    height: 4rem;
    border-radius: 0.5rem;
}

.avatar {
    $size: 1.8rem;
    width: $size;
    height: $size;
    border-radius: 10rem;
}