.labels-container {
  display: flex;
  gap: 12px;
  position: sticky;
  top: 20px;

  &.light {
    &::-webkit-scrollbar-thumb {
      background: rgb(204, 204, 204);
    }
  }
  &.dark {
    &::-webkit-scrollbar-thumb {
      background: rgb(109, 109, 109);
    }
  }

  &::-webkit-scrollbar {
    height: 0.1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }
}
