.labels-container {
  display: flex;
  overflow-x: scroll;
  padding: 0.3rem 2px;
  position: sticky;
  top: 0;
  z-index: 1;

  &.light {
    background: #fff;
    &::-webkit-scrollbar-thumb {
      background: rgb(204, 204, 204);
    }
  }
  &.dark {
    background-color: #252a31;
    &::-webkit-scrollbar-thumb {
      background: rgb(109, 109, 109);
    }
  }

  &::-webkit-scrollbar {
    height: 0.1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }
}

.label-buttons {
  margin-right: 0.5rem;
  width: fit-content;
  white-space: nowrap;
  text-overflow: ellipsis;
}
