.header {
    display: flex;
    height: 6.8rem;
    border-bottom: 1px solid var(--header-border);
    padding: 0 2rem;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    width: 8.6rem;
    height: 3.6rem;
}

.search-icon {
    margin-left: auto;
}

.search {
    &-container {
        align-items: center;
        gap: 8px;
        width: 100%;
        display: flex;
    }

    &-input {
        border-radius: 8px;
        background: var(--search-input-bg);
        border: none;
        padding: 6px 12px;
    }
}

.results-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--search-results-bg);
    z-index: 5;
    height: 101vh;
    margin: 0;
    list-style: none;
    padding: 8px 0;

    .item {
        padding: 16px 20px;
        display: block;
    }
}

.hidden {
    width: 0;
    overflow: hidden;
}