.root {
  position: fixed;
}

.ad-box {
  width: 274px;
  height: 320px;
  border-radius: 8px;
  padding: 20px;
  background: linear-gradient(183deg, #74ecfc 9.91%, #548cfa 100.34%);
}

.ad-text {
  color: #1604eb;
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 41px;
}

.btn {
  margin-top: 8px;
  width: 100%;
}
