.container {
    padding: 0.4em 1em;
    border: 2px solid transparent;
    border-radius: .3em;
    font-size: 1rem;
    text-align: center;
}

.deleted {
    $red: #FF0000;
    border-color: $red;
    color: $red;
}

.published {
    $blue: #152C70;
    border-color: $blue;
    color: $blue;
}

.saved {
    $green: #0FB972;
    border-color: $green;
    color: $green;
}

.unpublished {
    $gray: #636262;
    border-color: $gray;
    color: $gray;
}