.container {
  padding: 0.4em 0;
  font-size: 1rem;
}

.deleted {
  $red: #ff0000;
  border-color: $red;
  color: $red;
}

.published {
  border-color: var(--color-status-published-border);
  color: var(--color-status-published-font);
}

.saved {
  $green: #0fb972;
  border-color: $green;
  color: $green;
}
