$icon-container: 30px;
$icon-size: 20px;

.root {
  margin: -1rem -1.8rem;
}

.header {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--lightGray);
  border-bottom: 1px solid var(--lightGray);
  font-weight: 600;
  font-size: 1.4rem;
}

.icon {
  width: $icon-container;
  height: $icon-container;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;

  & svg {
    width: $icon-size;
    height: $icon-size;
  }
  &:hover {
    background-color: var(--mediumGray);
    cursor: pointer;
  }
}
