@import 'styles/_mixins';

.comment {
  padding: 0.5rem;
  position: relative;

  & .author {
    display: flex;
  }
  & .date {
    font-size: 0.7rem;
  }

  & .message {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    overflow-wrap: break-word;
  }

  &:hover .edit-button {
    display: block;
  }
}

.edit-button {
  position: absolute;
  display: none;
  top: 5px;
  right: 0;

  @include screenMax576 {
    display: block;
    color: gray;
  }
}
