.container {
    display: flex;
}

.btn {
    width: 36px;
    height: 36px;
    padding: 2px;
    display: grid;
    place-items: center;
    background-color: transparent;
    border: none;
    color: inherit;

    &:hover {
        background-color: var(--editor-toolbar-icon-hover);
        border-radius: 4px;
    }
}