.contacts {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.contact {
    text-align: center;
    transition: all 300ms ease-out;

    &:hover {
        transform: translateY(-10%);
    }
}

.icon>svg {
    $size: 4rem;
    width: $size;
    height: $size;
}