.container {
    border-radius: 6px;
    background: var(--editor-code-bg);
    border: 1px solid var(--editor-code-border);
    position: relative;
    // caret-color: inherit !important;
}

.textarea {
    padding: 10px 12px;
    font-size: 15px;

    &>div {
        outline: none !important;
    }
}