.root {
  &:hover {
    background-color: var(--brightGray);
  }
  border-radius: 0.5rem;
  margin: -0.3rem -0.5rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.label {
  font-size: 0.6rem;
  border-radius: 100rem;
  padding: 0.2em 0.4em;
  margin-right: 0.3rem;
  color: var(--gray);
  background-color: var(--lightGray);
}
