.articleContainer {
  padding-bottom: 2rem;
  .articleDetail {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 .3rem;

    .reactions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reactionButtons {
        margin-left: 11px;

        svg {
          margin-left: 6px;
          margin-right: 6px;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;

      span:not(:last-of-type) {
        margin-right: 1rem;
      }

      svg {
        margin-right: 4px;
        width: 16px;

        &:last-child {
          margin-left: 12px;
          width: 19px;
        }
      }

      .navIcon svg {
        width: 10px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 5px;
      }
    }
    svg {
      width: 15px;
    }
  }
}

.scrollUp {
  transform: translateY(0) !important;
  animation: fade-in-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.articleActions {
  display: inline-block;
  position: fixed;
  bottom: 1.7rem;
  z-index: 1;
  transform: translateY(100px);

  background-color: white;
  border: 1px solid rgb(#000000, 0.25);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;

  .iconsContainer {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 22px;
    }

    svg {
      width: 25px;
      height: 23px;

      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.25);
      }
    }

    .reactionsText {
      font-weight: 500;
    }
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

