.articleContainer {
  padding-bottom: 2rem;
  .articleDetail {
    margin: 1rem auto 0;
    padding: 0 0.3rem;

    .reactions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reactionButtons {
        margin-left: 11px;

        svg {
          margin-left: 6px;
          margin-right: 6px;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;

      span:not(:last-of-type) {
        margin-right: 1rem;
      }

      svg {
        margin-right: 4px;
        width: 16px;

        &:last-child {
          margin-left: 12px;
          width: 19px;
        }
      }

      .navIcon svg {
        width: 10px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 5px;
      }
    }
    svg {
      width: 15px;
    }
  }
}
