@import 'styles/_mixins';

.container {
  position: relative;

  & .dots {
    display: block;
  }

  &:hover .dots {
    display: flex;
  }
}

.published-article-notification {
  display: flex;
  align-items: center;
}

.text {
  flex: 1 1 auto;
  @include screenMax576 {
    order: 3;
    margin-top: 0.5rem;
  }
}

.date {
  font-size: 0.8rem;
  color: var(--gray);
}

.notificationMessage {
  display: flex;
  flex-direction: column;
  grid-gap: 0.625rem;
}

.actions {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
