@import 'styles/_mixins';

.published-article-notification {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.text {
    flex: 1 1 auto;
    @include screenMax576 {
        order: 3;
        margin-top: 0.5rem;
    }
}

.date {
    font-size: 0.8rem;
    color: var(--gray);
    @include screenMax576 {
        margin-left: auto;
    }
}
