.gridContainer {
  border-radius: 5px;

  &.light {
    background-color: #ffffff;
    border: 1px solid var(--lightGray);
    box-shadow: var(--box-shadow);

    .emojiItem {
      color: var(--gray);
    }
  }

  &.dark {
    border: 0.5px solid #c2c2c2;
    background-color: #343a42;

    .emojiItem {
      color: #fff;
    }
  }
}

.popoverContainer {
  position: absolute;
  z-index: 10;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10rem;
    height: 30px;
  }
}

.emojiItem {
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  &:hover {
    border-radius: 5px;
    transition: background-color 0.2s;
    background-color: var(--lightGray);
  }

  &.selected:not([title='All']) {
    background-color: var(--lightGray);
    border-radius: 5px;
  }
}

.groupsContainer {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.1rem;
  padding: 0.1rem;
}
