.gridContainer {
  border-radius: 5px;
  &.light {
    background-color: var(--brightGray);
    border: 1px solid var(--lightGray);
  }
  &.dark {
    border: 0.5px solid var(--gray);
    background-color: var(--lightGray);
  }
}

.popoverContainer {
  position: absolute;
  z-index: 10;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10rem;
    height: 30px;
  }
}

.emojiItem {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 2px 2px 2px 4px;

  &:hover {
    background-color: lightgrey;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  &.selected {
    background-color: lightgrey;
    border-radius: 5px;
  }
}

.groupsContainer {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
