.root {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 12px;
  padding: 24px 0;
  align-items: center;
  width: -webkit-fill-available;
  border-top: 1px solid var(--black-50, #E8E9E9);
}

.icon {
  &-container {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: #ffcfcc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text {
  color: var(--red, #f00);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}