.container {
  padding: 0.5rem;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labels {
  text-align: end;
}

.stats {
  font-size: 0.8rem;
}
