.error {
  border: 1px solid #c20000;
  color: #d90000;
}

.success {
  border: 1px solid #00d400;
  color: #00d400;
}

.right_answer {
  border: 1px solid blue;
  color: blue;
}

.normal {
  border: 0.5px solid rgba(128, 128, 128, 0.547);
}
