.navigation{
    padding: 1rem 0;
    border-right: 1px solid var(--lightBlack);
    min-width: 90px;
    width: 6vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons>div {
    margin-bottom: 1.2rem;
}

.navigation>div:last-child {
    margin-bottom: 0;
}

.positioned {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.icon svg {
    $size: 1.6rem;
    width: $size;
    height: $size;
}