@import 'styles/breakpoints';

.root {
    position: fixed;
    inset: 0;
    z-index: 1;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.16);
    backdrop-filter: blur(2px);
    border: 1px solid blue;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 612px;
    border-radius: 12px;
    background: var(--gray, #F5F5F5);

    @include media-max(small) {
        width: 100%;
        bottom: 0;
        height: unset;
        left: 0;
        right: 0;
        transform: unset;
        top: 23%;
    }

    &-header {
        padding: 12px 12px 8px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--black-50, #E8E9E9);
    }

    &-body {
        overflow-y: scroll;
        flex: 1;
    }

    &-footer {
        padding: 20px 12px;
        border-top: 1px solid var(--black-50, #E8E9E9);
    }
}

.headline {
    color: var(--black-300, #737677);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.close-icon {
    width: 32px;
    height: 32px;
    padding: 10px;
    color: var(--black-300, #737677);
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-input-container {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--black-50, #E8E9E9);

    .comment-input-root {
        flex: 1;
    }

    .comment-input {
        border: unset;
        background-color: transparent;
        border-radius: unset;
        outline: none;
        padding-left: 12px;
        color: var(--black-400, #45494A);
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
    }

    .send-btn {
        width: 32px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}