.root {
  padding-block: 32px;
  border-bottom: 1px solid var(--black-50, #e8e9e9);
  display: block;
}

.title {
  text-decoration: none;
  color: var(--black-800, #060707);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  word-break: break-word;
  margin-bottom: 0;
  margin-top: 20px;
}