.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--black-700);
    margin-block: 0 4px;
    outline: none;
    position: relative;

    &:is(:empty)::before {
        content: 'Savolingizni kiriting';
        position: absolute;
        left: 0;
        color: #8c8c8c;
    }
}

.list {
    outline: none;
    margin: 0;
    padding: 0;
}

.option {
    display: flex;

    .input-container {
        width: 24px;
        height: 24px;
        display: grid;
        place-items: center;
        margin: 8px 12px 8px 8px;

        input {
            width: 18px;
            height: 18px;
        }
    }

    .text {
        flex: 1;
        outline: 0;
        padding-block: 8px;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }
}