.title {
    $font-size: 20px;
    font-weight: 600;
    font-size: $font-size;
    line-height: calc($font-size * 1.4);
    min-height: calc($font-size * 1.4);
    color: var(--black-700);
    margin-block: 0 4px;
    outline: none;
    position: relative;

    &:is(:empty)::before {
        content: 'Savolingizni kiriting';
        position: absolute;
        left: 0;
        color: #8c8c8c;
    }
}

.list {
    outline: none;
    margin: 0;
    padding: 0;
}

.option {
    display: flex;
    margin-bottom: 4px;
    border: 1px solid transparent;
    border-radius: 4px;

    .input-container {
        width: 24px;
        height: 24px;
        display: grid;
        place-items: center;
        margin: 8px 12px 8px 8px;

        input {
            width: 18px;
            height: 18px;
        }
    }

    .text {
        flex: 1;
        outline: 0;
        padding-block: 8px;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }
}

.submit-btn {
    margin-top: 4px;
    width: 100%;
}

.SUCCESS {
    border-color: var(--green);
}

.RIGHT_ANSWER {
    border-color: var(--blue-300);
}

.ERROR {
    border-color: var(--red);
}