@import 'styles/breakpoints';

.root {
  padding: 32px 0;
  list-style: none;

  @include media-max(small) {
    padding: 20px 0 24px 0;
  }
}

.item {
  display: flex;
  padding: 12px 20px 12px 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border-radius: 4px;
  overflow: hidden;

  @include media-max(small) {
    padding-right: 4px;
    padding-left: 8px;
  }

  &:hover {
    background: rgba(232, 233, 233, 0.40);
  }

  &-body {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}