$icon-size: 16px;

.header {
  padding: 0.4rem 0.7rem 0.4rem 2rem;
  position: relative;

  .actions {
    display: none;
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: var(--brightGray);

    & .actions {
      display: flex;
      gap: 0.3rem;
    }
  }
}

.icon svg {
  width: $icon-size;
  height: $icon-size;
}

.remove {
  transform: rotate(45deg);
}
