@import 'styles/breakpoints';

.root {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 12px 12px 0 0;
  border: 1px solid var(--bottom-navigation-border);
  background-color: var(--bottom-navigation-bg);
  z-index: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 60px;

  @include media-max(small) {
    gap: 4px;
  }
}

.navigation-button {
  all: unset;
  min-width: 68px;
  height: 44px;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .label {
    color: var(--bottom-navigation-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

.add-btn {
  all: unset;
  margin-inline: 40px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-max(small) {
    margin-inline: 10px;
  }

  .circle {
    border: 1.5px solid var(--bottom-navigation-add-btn-border);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
}