@import 'styles/mixins';

.article-img {
  position: relative;

  &>span {
    border-radius: 0.5rem;
  }
}

.article-img--micro {
  min-width: 60px;
  max-width: 16%;
  height: 40px;
}

.article-img--small {
  min-width: 5.5rem;
  max-width: 20%;
  height: 4rem;
}

.article-img--medium {
  min-width: 11rem;
  max-width: 30%;
  height: 7rem;

  @include screenMax576 {
    min-width: 7rem;
    height: 5rem;
  }
}

.article-img--full {
  width: 100%;

  & img {
    height: auto !important;
    position: initial !important;
    border-radius: 12px;
  }

}