.article-img {
  position: relative;
  & > span {
    border-radius: 0.5rem;
  }
}

.article-img--micro {
  min-width: 60px;
  max-width: 16%;
  height: 40px;
}

.article-img--small {
  min-width: 5.5rem;
  max-width: 20%;
  height: 4rem;
}

.article-img--medium {
  min-width: 12rem;
  max-width: 30%;
  height: 7.5rem;
}
