.container {
  width: 20rem;
  margin: 10rem auto;
  border: 0.5px solid var(--gray);
  border-radius: 5px;
  padding: 1.5rem;
}

.option {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 0;

  &--dark:hover {
    background-color: #343a42;
  }
  &--light:hover {
    background-color: #efefef;
  }
}
