@import 'styles/helpers';

.popupContainer {
  width: toRem(420px);
  box-shadow: 0 0 toRem(10px) rgba(#000000, 0.4);
  border-radius: 6px;
  padding: toRem(10px) toRem(18px);
  border: 1px solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(8px);
  margin-right: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @media only screen and (max-width: 930px) {
    margin-left: 15rem;
  }

  @media only screen and (max-width: 600px) {
    margin-left: 0;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.iconsContainer {
  display: flex;
  gap: toRem(25px);

  .socialIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
    cursor: pointer;

    svg {
      width: toRem(26px);
    }

    .iconText {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.articleLink {
  align-self: stretch;
  position: relative;

  .linkInput {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--lightBlack);
    font-weight: 500;
    padding: toRem(10px) calc(#{toRem(70px)} + 2 * #{toRem(15px)}) toRem(10px) toRem(5px);
    overflow: auto;
    outline: none;
    background-color: transparent;
    color: inherit;
  }

  .copyButton {
    position: absolute;
    right: toRem(15px);
    top: 50%;
    transform: translateY(-50%);
    font-size: toRem(12px);
    transition: all 0.2s;
  }
}
