.validity-level-container {
  display: flex;
  height: 0.5em;
  border-radius: 10rem;
  overflow: hidden;

  & .red {
    background-color: var(--red);
    width: 50%;
  }
  & .yellow {
    background-color: var(--yellow);
    width: 30%;
  }
  & .green {
    background-color: var(--green);
    width: 20%;
  }
}

.password-requirement {
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
