:root {
  --black-50: #e8e9e9;
  --black-100: #d0d1d2;
  --black-200: #a2a4a5;
  --black-300: #737677;
  --black-400: #45494a;
  --black-500: #161b1d;
  --black-600: #111416;
  --black-700: #0b0e0f;
  --black-800: #060707;
  --black-900: #020303;
}
