:root {
  --blue-50: #e6f2ff;
  --blue-100: #cce4ff;
  --blue-200: #99caff;
  --blue-300: #66afff;
  --blue-400: #3395ff;
  --blue-500: #007aff;
  --blue-600: #005cbf;
  --blue-700: #003d80;
  --blue-800: #001f40;
  --blue-900: #000c1a;
}
