.img {
  width: 15rem;
  height: 8.5rem;
  border-radius: 1rem;
}
.label {
  height: 1.2rem;
  border-radius: 10rem;
  width: 80%;
}

.avatar {
  border-radius: 100rem;
  width: 2rem;
  height: 2rem;
}

.text {
  height: 1rem;
  border-radius: 0.5rem;
}
