$nav-item-color: #636262;

.footerContainer {
  width: 100%;
  border-top: 1px solid #C4C4C4;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerNav {
  display: flex;
  gap: 5.5rem;
  padding: 0;
  margin: 0.7rem 0;

  & > li {
    list-style: none;

    a {
     color: $nav-item-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyrightText {
  color: $nav-item-color;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.65rem;
}
