@import 'styles/_mixins';

$nav-item-color: #636262;

.footerContainer {
  width: 100%;
  border-top: 1px solid #c4c4c4;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerNav {
  display: flex;
  gap: 5.5rem;
  padding: 0;
  margin: 0.7rem 0;

  @include screenMax576 {
    flex-wrap: wrap;
    gap: 5%;
  }

  & > li {
    list-style: none;

    @include screenMax576 {
      width: 45%;
      margin-bottom: 1rem;
    }

    a {
      color: $nav-item-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyrightText {
  color: $nav-item-color;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.65rem;
}
