.name {
  margin-right: 2rem;
}

.bio {
  font-size: 1.1rem;
}

.avatar {
  margin-right: 0.6rem;
}

.social-media-links {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(130%);

  & .icon {
    margin-right: 0.6rem;
    & > svg {
      $size: 1.0rem;
      width: $size;
      height: $size;

      & > path,
      & > g path {
        $color: var(--gray);
        fill: $color;
        stroke: $color;
      }
      &:hover > path,
      &:hover > g path {
        $color: black;
        fill: $color;
        stroke: $color;
      }
    }
  }
}
