.name {
  margin-right: 2rem;
}

.bio {
  font-size: 1.1rem;
}

.avatar {
  margin-right: 0.6rem;
}

.social-media-links {
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  transform: translateY(100%);
  display: flex;

  & .icon {
    margin-right: 0.2rem;
    $container-size: 1.7rem;
    min-width: $container-size;
    height: $container-size;
    border-radius: 100rem;
    display: grid;
    place-items: center;

    &:hover {
      background-color: var(--lightGray);
    }
   
    & > svg {
      $size: 1.0rem;
      width: $size;
      height: $size;
    }
  }
}
