@import 'styles/mixins';

$padding: 12px;

.link {
  text-decoration: none;
}

.root {
  display: flex;
  gap: 8px;
  padding: $padding;
}

.body {
  flex: 1;
  margin-bottom: -$padding;
  margin-right: -$padding;
  padding-right: $padding;
  padding-bottom: $padding;
  border-bottom: 1px solid var(--black-50, #e8e9e9);

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
  }

  .date {
    color: var(--black-300, #737677);
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
  }

  .text {
    color: var(--black-400, #45494a);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
  }
}

.author-name {
  color: var(--black-700, #0b0e0f);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  margin: 0;
}
