@import 'styles/mixins';

$padding: 12px;

.link {
  text-decoration: none;
}

.root {
  display: flex;
  gap: 8px;
  padding: $padding;
  padding-left: 20px;
}

.body {
  flex: 1;
  margin-bottom: -$padding;
  margin-right: -$padding;
  padding-right: $padding;
  padding-bottom: $padding;
  border-bottom: 1px solid var(--comment-border-bottom);

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
  }

  .date {
    color: var(--black-300, #737677);
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
  }

  .text {
    color: var(--comment-text);
    font-size: 14px;
    font-weight: 00;
    line-height: 20px;
    margin: 0;
  }
}

.author-name {
  color: var(--comment-author-name);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}