.modal {
  position: absolute;
  inset: 0;
  display: none;
  z-index: 100;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
}

.modal-bg {
  position: absolute;
  inset: 0;
  background-color: var(--lightBlack);
}

.modal--open {
  display: flex;
}

.modal-dialog {
  z-index: 1000;
  background-color: white;
  border-radius: var(--mediumBorderRadius);

  &--small {
    width: 400px;
  }
  &--medium {
    width: 600px;
  }
  &--large {
    width: 800px;
  }
}

.modal-body {
  padding: 2rem;
}
