.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-radius: 2px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  &:hover {
    background: rgba(232, 233, 233, 0.40);
  }

  .text {
    flex: 1;
    margin: 0;
    color: var(--black-600);
    line-height: 120%;
  }

  .next-icon {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
