@import 'styles/breakpoints';

.root {
  display: flex;
  align-items: center;
  padding-block: 2.4rem;
  gap: 4px;
  border-bottom: 1px solid var(--divider-secondary-background, #E8E9E9);
}

.text-block {
  margin-left: 1.6rem;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0;
}

.bio {
  color: var(--author-bio-text);
  font-size: 1.2rem;
  line-height: 120%;
  margin: 0;
}

.subscribe {
  margin-left: auto;
  flex-shrink: 0;

  @include media-max(small) {
    padding-inline: 12px;
  }
}

.author {
  display: flex;
  align-items: center;
}