@import 'styles/breakpoints';

.root {
    display: flex;
    gap: 30px;
    padding-inline: 110px;
    padding-top: 34px;

    @include media-max(large) {
        padding-inline: unset;
    }
}

.container {
    min-width: 720px;
    width: 720px;

    @include media-max(large) {
        width: 100%;
    }

    @include media-max(small) {
        min-width: unset;
    }
}

.sidebar {
    height: 300px;
    position: sticky;
    top: 0;

    @include media-max(large) {
        display: none;
    }
}

.loading {
    height: 35rem;

    @include media-max(large) {
        height: 15rem;
    }
}