.root {
  padding: 2.4rem 0;
  border-bottom: 1px solid var(--black-50, #E8E9E9);
}

.title {
  color: var(--black-900, #020303);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;

  .date {
    color: var(--Black-60, #787878);
    font-size: 1.2rem;
    line-height: 120%;
  }
}