@import 'styles/mixins';

.article {
  display: flex;
  flex-direction: column;

  border-top: 0.5px solid;

  padding: 3rem 0;

  &.dark {
    border-color: hsl(0deg 0% 78.51% / 60%);
  }

  &.light {
    border-color: rgba(166, 166, 166, 0.6);
  }
}

.article-footer {
  display: flex;
  margin-top: 1rem;
}

.article-img {
  margin-bottom: 1rem;
}

.article-title {
  margin: 0;
  margin-bottom: 0.75rem;
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-content {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  *:not(code) {
    background-color: transparent !important;
    color: inherit !important;
  }

  @include screenMax576 {
    display: none;
  }

  code {
    border-radius: 5px;
    font-family: inherit;
    font-size: 0.85em;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  a {
    text-decoration: none;
  }
}