$icon-container: 35px;
$icon-size: 16px;

.icon {
  width: $icon-container;
  height: $icon-container;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  position: absolute;
  right: -3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 0.5px solid gray;
  transition: all 150ms;

  & svg {
    width: $icon-size;
    height: $icon-size;
  }
  &:hover {
    cursor: pointer;
  }
}

.container {
  padding: 0.5rem;
  position: relative;
  font-weight: 600;
  font-size: 1.4rem;

  &:hover .icon {
    right: 0.5rem;
  }
}
