.root {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: -2rem;
  transform: translateY(100%);
  width: 31.8rem;
  border-radius: 1.2rem;
  background-color: var(--gray);
  overflow: hidden;
  transition: all 1000ms linear;
}

.main-menu {
  transition: all 1000ms linear;
}

.vertical-padding {
  $padding: 2rem;
  padding-right: $padding;
  padding-left: $padding;
}

