.root {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: -2rem;
  transform: translateY(100%);
  width: 31.8rem;
  border-radius: 1.2rem;
  padding: 2rem;
  background-color: var(--gray);
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--black-50);

  &--name {
    margin: 0;
    color: var(--black-700);
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
  }

  &--bio {
    margin: 0;
    color: var(--black-400);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
  }
}

.pen-icon {
  display: flex;
  width: 3.6rem;
  height: 3.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--white);
}

.log-out {
  border-top: 1px solid var(--black-50);
  display: flex;
  padding-top: 2rem;
  align-items: center;
  gap: 1.2rem;

  .icon {
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    background: rgba(255, 62, 51, 0.2);
  }

  .text {
    color: var(--red);
    font-weight: 500;
    margin: 0;
  }
}
