.root {
  display: flex;
}

.reactions-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: var(--card-bg);

  .like-count {
    margin-left: 1.2rem;
  }

  .divider {
    $margin: 1.6rem;
    margin-left: $margin;
    margin-right: $margin;
    height: 2rem;
  }
}

.count {
  color: var(--comments-count);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
}

.comment-container {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 300px;
  background: var(--card-bg);
  margin-left: 12px;
  border: none;
  cursor: pointer;
}

.actions-container {
  margin-left: auto;
  display: flex;
  gap: 12px;
  position: relative;
}