@import 'styles/breakpoints';

.root {
  display: flex;
  align-items: center;
  padding-bottom: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--main-bg);

  @include media-max(small) {
    margin-top: 0 !important;
  }
}

.container {
  position: relative;
  flex: 1;
  width: 100%;
}

.labels-container {
  overflow: scroll;
  flex: 1;
  transition: all 500ms linear;

  &::-webkit-scrollbar {
    display: none;
  }
}

.lebels-list {
  display: flex;
  gap: 1.2rem;
}

.navigation-btn {
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: white;
}

.next-btn {
  right: 0;
  border-left: 1px solid var(--black-50);
}

.prev-btn {
  left: 0;
  border-right: 1px solid var(--black-50);
}