.codex-editor {
  &__redactor {
    padding-bottom: 0 !important;
  }

  & .ce-block__content {
    max-width: unset;
  }
}

.readMode .inline-image__picture {
  img {
    cursor: zoom-in;
  }
}

.inline-code {
  background: rgba(240, 240, 240, 0.7) !important;
  color: black !important;
  padding: 3px 6px !important;
}

.codeflask__lines,
.codeflask.codeflask--has-line-numbers:before {
  z-index: unset !important;
}

.editor-container,
.ce-toolbar__content {
  max-width: 800px;
}

.editor-container {
  margin: 0 auto;
  position: relative;
}

.codex-editor__loader {
  display: none;
}
