@import './mixins';

.codex-editor {
  &__redactor {
    padding-bottom: 0 !important;
  }

  & .ce-block__content {
    max-width: unset;
  }
}

.readMode {
  .inline-image__picture img,
  img.image-tool__image-picture {
      cursor: zoom-in;
  }
}

.inline-code {
  background: rgba(240, 240, 240, 0.7) !important;
  color: black !important;
  padding: 3px 6px !important;
}

.codeflask__lines,
.codeflask.codeflask--has-line-numbers:before {
  z-index: unset !important;
}

.editor-container,
.ce-toolbar__content {
  max-width: 820px;
  @include screenMin1200 {
    max-width: 880px;
  }
}

.editor-container {
  margin: 0 auto;
  position: relative;
}

.codex-editor__loader {
  display: none;
}

.ce-settings {
  @include screenMax576 {
    top: 40px;
    bottom: unset;
  }
}