:root {
  --gray: #f5f5f5;
  --white: #ffffff;
  --black: #001f40;

  // qora
  --black-50: #e8e9e9;
  --black-100: #d0d1d2;
  --black-200: #a2a4a5;
  --black-300: #737677;
  --black-400: #45494a;
  --black-500: #161b1d;
  --black-600: #111416;
  --black-700: #0b0e0f;
  --black-800: #060707;
  --black-900: #020303;

  // ko'k
  --blue-50: #e6f2ff;
  --blue-100: #cce4ff;
  --blue-200: #99caff;
  --blue-300: #66afff;
  --blue-400: #3395ff;
  --blue-500: #007aff;
  --blue-600: #005cbf;
  --blue-700: #003d80;
  --blue-800: #001f40;
  --blue-900: #000c1a;

  // input
  --input-background: var(--gray, #f5f5f5);

  // divider
  --divider-primary-background: var(--black-100, #d0d1d2);
  --divider-secondary-background: var(--black-50, #e8e9e9);
  --divider-tertiary-background: var(--gray, #f5f5f5);

  // button
  --btn-primary-bg: var(--blue-500, #007aff);
  --btn-primary-text: var(--white, #fff);
  --btn-secondary-bg: var(--blue-900, #000c1a);
  --btn-secondary-text: var(--white, #fff);
  --btn-outlined-bg: var(--black-50, #e8e9e9);
  --btn-outlined-text: inherit;

  // navigation
  --nav-active-bg: var(--gray, #f5f5f5);
}
