:root {
  --lightBlack: rgba(0, 0, 0, 0.25);
  --darkGray: rgb(77, 77, 77, 0.9);
  --mediumGray: rgba(196, 196, 196, 0.8);
  --lightGray: rgb(199 199 199 / 20%);
  --gray: gray;
  --red: hsl(0, 76%, 47%);
  --lightRed: hsl(0, 28%, 67%);
  --smallBorderRadius: 0.3rem;
  --mediumBorderRadius: 0.6rem;
  --yellow: rgba(255, 229, 60);
  --blue: #54a9eb;
  --green: #0a950ad6;
  --scrollbar-thumb-color: #d3d3d3;

  // status component colors
  --color-status-saved-font: #0FB972;
  --color-status-saved-border: #0FB972;
  --color-status-published-font: #152C70;
  --color-status-published-border: #213f9b;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  @include screenMax576 {
    flex-direction: column;
  }
  @include screenMin1200 {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.app > .main {
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10rem;
    border: 2px solid white;
  }

  @include screenMax576 {
    padding: 0 0.5rem;
    padding-top: 91px;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
  }
}

.container {
  max-width: 80rem;
  width: 80%;
  margin: 0 auto;

  @include screenMax576 {
    width: 100%;
    padding: 0.5rem;
  }
}

// form
.form--medium {
  width: 30rem;
}
.form {
  width: 20rem;
  margin: 10rem auto;
  border: 0.5px solid var(--gray);
  border-radius: 5px;
  padding: 1.5rem;

  @include screenMax576 {
    width: 95vw;
  }
}
.card {
  padding: 3rem;
  border-radius: 1em;
  border: 1px solid var(--lightGray);
  box-shadow: 0 20px 22px -22px #1414142b;
}

.form-element {
  margin-bottom: 0.8em;
}

.pointer {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: inherit;
}

.overflow-wrap {
  overflow-wrap: anywhere;
}

.icon {
  & svg {
    fill: black;
  }
  &--active svg {
    fill: blue;
  }
}
.sponsor-icon {
  margin-right: 0.3rem;
  & svg {
    width: 1rem;
    height: 1rem;
    & path {
      fill: var(--blue);
    }
  }
}

.notification {
  &--unread {
    background-color: var(--lightGray);
  }
}

.skeleton {
  height: 100px;
  width: 100px;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0) 70%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 800ms loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

/* margins */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: $size1;
}

.m-2 {
  margin: $size2;
}

.m--1 {
  margin: -$size1;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: $size1;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.7rem;
}

.mt-4 {
  margin-top: $size4;
}

.mt-5 {
  margin-top: $size5;
}

.ms-1 {
  margin-left: $size1;
}

.ms-2 {
  margin-left: $size2;
}

.ms-auto {
  margin-left: auto;
}

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: $size1;
}

.me-2 {
  margin-right: $size2;
}

.me-3 {
  margin-right: $size3;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $size1;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.7rem;
}

.mb-4 {
  margin-bottom: $size4;
}

.my-1 {
  margin-top: $size1;
  margin-bottom: $size1;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

.mx-1 {
  margin-right: $size1;
  margin-left: $size1;
}

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-3 {
  margin-right: 1.7rem;
  margin-left: 1.7rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

// margins for screens smaller than 576px
@include screenMax576 {
  .mt-xs-2 {
    margin-top: $size2-xs;
  }
  .mt-xs-3 {
    margin-top: $size3-xs;
  }
  .me-xs-1 {
    margin-right: $size1-xs;
  }
  .me-xs-2 {
    margin-right: $size2-xs;
  }
}

// paddings
.p-1 {
  padding: $size1;
}
.p-2 {
  padding: $size2;
}
.py-1 {
  padding-top: $size1;
  padding-bottom: $size1;
}
.py-2 {
  padding-top: $size2;
  padding-bottom: $size2;
}
.px-1 {
  padding-left: $size1;
  padding-right: $size1;
}
.px-2 {
  padding-right: $size2;
  padding-left: $size2;
}
.px-3 {
  padding-right: $size3;
  padding-left: $size3;
}
.px-4 {
  padding-right: $size4;
  padding-left: $size4;
}
.pt-3 {
  padding-top: $size3;
}
.pt-4 {
  padding-top: $size4;
}
.pb-4 {
  padding-bottom: $size4;
}
// margins for screens smaller than 576px
@include screenMax576 {
  .px-xs-1 {
    padding-right: $size1-xs;
    padding-left: $size1-xs;
  }
}

/* displays */
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* alignment */
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.float-firgt {
  float: right;
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}

// positions
.position-relative {
  position: relative;
}

/* widths */
.w-0 {
  width: 0;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.w-mobile-100 {
  @include screenMax576 {
    width: 100%;
  }
}

.w-mobile-75 {
  @include screenMax576 {
    width: 75%;
  }
}

// flex
.flex-1 {
  flex: 1;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.flex-mobile-col {
  @include screenMax576 {
    flex-direction: column;
  }
}

// flex gaps
.f-gap-1 {
  gap: 0.5rem;
}

// text colors
.text-blue {
  color: blue;
}
.text-danger {
  color: var(--red);
}
.text-green {
  color: var(--green);
}
.text-gray {
  color: var(--gray);
}

// font sizes
.fs-1 {
  font-size: 0.8rem;
}
