:root {
  --lightBlack: rgba(0, 0, 0, 0.25);
  --light-bg: #fff;
  --color-shadow: rgba(13, 20, 33, 0.13);
  --darkGray: rgb(77, 77, 77, 0.9);
  --mediumGray: rgba(196, 196, 196, 0.8);
  --lightGray: rgb(199 199 199 / 20%);
  --brightGray: rgb(199 199 199 / 10%);
  --red: hsl(0, 76%, 47%);
  --lightRed: hsl(0, 28%, 67%);
  --smallBorderRadius: 0.3rem;
  --mediumBorderRadius: 0.6rem;
  --yellow: rgba(255, 229, 60);
  --blue: #54a9eb;
  --light-blue: #64afe97b;
  --green: #0a950ad6;
  --scrollbar-thumb-color: #d3d3d3;

  // library colors
  --light: rgb(199 199 199 / 20%);

  // status component colors
  --color-status-saved-font: #0fb972;
  --color-status-saved-border: #0fb972;
  --color-status-published-font: #517dff;
  --color-status-published-border: #7899ff;

  // modal colors
  --color-modal-border-red: red;

  // sizes
  --sidebar-width: 25rem;

  // shadows
  --box-shadow: 0 3px 15px -3px var(--color-shadow);
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  // min-height: 100vh;
  overflow-x: hidden;

  @include screenMax576 {
    flex-direction: column;
  }

  @include screenMin1200 {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.app>.main {
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10rem;
    border: 2px solid transparent;
  }

  &.on-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }

  @include screenMax576 {
    &.web-app {
      margin-top: 91px;
    }

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
    }
  }
}

// form
.form--medium {
  width: 30rem;
}

.form {
  width: 20rem;
  margin: 10rem auto;
  border: 0.5px solid var(--gray);
  border-radius: 5px;
  padding: 1.5rem;

  @include screenMax576 {
    width: 95vw;
  }
}

.card {
  padding: 3rem;
  border-radius: 1em;
  border: 1px solid var(--lightGray);
  box-shadow: 0 20px 22px -22px #1414142b;
}

.form-element {
  margin-bottom: 0.8em;
}

.form-label {
  margin-bottom: $size1;
  display: block;
}

.form-label {
  margin-bottom: 0.5em;
  display: block;
}

// form end

.link:hover {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.overflow-wrap {
  overflow-wrap: anywhere;
}

.icon {
  & svg {
    fill: black;
  }

  &--active svg {
    fill: blue;
  }
}

.sponsor-icon {
  display: flex;
  margin-right: 0.3rem;

  & svg {
    width: 1rem;
    height: 1rem;

    & path {
      fill: var(--blue);
    }
  }
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

// margins for screens smaller than 576px
@include screenMax576 {
  .mt-xs-2 {
    margin-top: $size2-xs;
  }

  .mt-xs-3 {
    margin-top: $size3-xs;
  }

  .me-xs-1 {
    margin-right: $size1-xs;
  }

  .me-xs-2 {
    margin-right: $size2-xs;
  }
}

// paddings for screens smaller than 576px
@include screenMax576 {
  .px-xs-1 {
    padding-right: $size1-xs;
    padding-left: $size1-xs;
  }

  .px-xs-2 {
    padding-right: $size2-xs;
    padding-left: $size2-xs;
  }
}

/* displays */
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* alignment */
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-firgt {
  float: right;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

// positions
.position-relative {
  position: relative;
}

// flex
.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-mobile-col {
  @include screenMax576 {
    flex-direction: column;
  }
}

// flex gaps
.f-gap-1 {
  gap: 0.5rem;
}

// text colors
.text-blue {
  color: blue;
}

.text-danger {
  color: var(--red);
}

.text-warning {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.text-gray {
  color: var(--gray);
}

// font sizes
.fs-1 {
  font-size: 0.8rem;
}

// font weight
.fw-6 {
  font-weight: 600;
}

.fw-4 {
  font-weight: 400;
}

// hover classes
.hoverable-light:hover {
  background-color: var(--light);
}