@import 'styles/breakpoints';

.container {
  margin-right: 24px;
  margin-left: 32px;

  @include media-max(small) {
    margin-inline: 8px;
  }
}

.profile-container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--black-50, #e8e9e9);
}

.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}

.bio {
  color: var(--black-400, #45494a);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}