.root {
  position: relative;
}

.profile {
  outline: unset;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 6.4rem;
  height: 3.6rem;
  padding: 0.2rem;
  gap: 0.4rem;
  border-radius: 2rem;
  background-color: var(--header-profile-bg);
}

.icon {
  transform: rotate(90deg);
  width: 1.8rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & path {
    stroke: var(--header-profile-icon);
  }
}