.language {
    &-container {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
        font-size: 16px;
    }

    &-btn {
        padding: 6px 4px 6px 12px;
        border: none;
        background-color: var(--editor-code-language-btn-bg);
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        gap: 2px;
        align-items: center;
        color: inherit;

        &:hover {
            background-color: var(--editor-code-language-btn-hover);
            color: inherit;
        }
    }
}

.languages-popover {
    position: absolute;
    bottom: -4px;
    left: 4px;
    transform: translateY(100%);
    background-color: var(--editor-code-language-popover-bg);
    z-index: 1;
    min-width: 180px;
    border: 1px solid rgba(69, 73, 74, 0.4);
    border-radius: 8px;
    overflow: hidden;

    .item {
        padding: 6px 12px;
        cursor: pointer;

        &:hover {
            background-color: var(--editor-code-language-popover-item-hover);
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(69, 73, 74, 0.4);
        }
    }
}

.copy {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    z-index: 1;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--editor-code-language-btn-hover);

        &>svg path {
            fill-opacity: 1 !important;
        }
    }
}